.chatHeader{

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;

}
.chatHeader_right{
    display: flex;

}
.chatHeader_right> .MuiSvgIcon-root{

    padding: 5px;
    cursor: pointer;
}

.chatHeader_right> .MuiSvgIcon-root:hover{

    color: white;
}


.chatHeadersearch>input{
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}
.chatHeadersearch{
    /* border: 2px solid white; */
    border-radius: 4px;
    background-color: rgb(38, 37, 37);
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 2px;
}