.chat{



margin-left: 200px;
width: 100%;
background-color: #2f3135;
height: 100vh;
display: flex;
flex-direction: column;


}

.chatMessage{
    display: flex;
    flex: 1;
}

.chatInput{
    
    display: flex;
    /* bottom: 0; */
    /* width: 83%; */
    /* position: fixed; */
    height: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: lightgrey;
    padding: 15px;
    border-radius: 7px;
    margin: 20px;
    border-top: 2px solid gray;
    background-color: #474b53;
    
}
.chatMessage_box{


    overflow: scroll;
    overflow-x: hidden;
}

.chatInput>form>input{
    padding: 15px;
    background: transparent;
    border: none;
    outline-width: 0;
    width: 100%;
    color: white
    ;
    font-size: large;
}
.chatInput>form{
    flex: 1;
}

.chatinputHolder{
display: flex;
flex-direction: row;
}

.chaticons{
    right: 0;
    /* position: fixed; */
    display: flex;
}

.chaticons> .MuiSvgIcon-root{
    padding: 5px;
    font-size: 30px;
}

.message_content{
    display: flex;
    
}





.chat_btn{
display: flex;
display: none;
    
}

.chaticons{



}
