.Login{
    width: 100vw;
    /* height: 100vh; */
display:  flex;
flex-direction: column;
    text-align: center;
    margin-top: 150px;

}
.login_logo{
    text-align: center;
    
}

.icon{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    color: black;
}
.discords{
    width: 400px;
}

.logindiv{

    display: flex;
    justify-content: center;
    padding: 15px;
  
   
    
}

.btn{
    width: 100px;
    box-shadow: 2px 2px yellow;

}

.loginform{
    text-align: center;
}